@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-alt {
  background: rgb(42,41,70);
  background: linear-gradient(90deg, rgba(42,41,70,1) 0%, rgba(26,121,140,1) 100%, rgba(78,75,98,0.9027149321266968) 100%);
}

/* fonts and text custom styles */
.index-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 360;
  font-size: medium;
}

.h1, h2, h3, h4, h6 {
  display: block;
  font-weight: 501;
}

h1 { font-size: 50px } 
h2 { font-size: 35px }
h3 { font-size: 25px }
h4 { font-size: 20px }
h6 { font-size: 12px }

h5 {
  font-weight: 18; 
  font-size: 18px; 
}
.h4l {
  font-weight: 20;
  font-size: 20px;
}
.h5b {
  font-weight: 360;
  font-size: 18px;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitle-aura {
  margin-top: 12px;
  color: #909090;
}

.text-error {
  color: crimson;
  font-size: smaller;
}

.text-danger { color: tomato }
.text-gray { color: #909090 }
.text-light { color: lightgrey}
.text-info { color: lightblue }
.text-secondary { color: cornflowerblue }
.text-success { color: rgb(0, 160, 0) }
.text-warning { color: orange }
.text-flex-sm {
  color: lightgray;
  font-size: small;
}

.text-not-valid {
  color: rgba(228, 209, 38, 0.864);
  font-weight: 500;
}
.text-valid {
  color: rgb(111, 164, 4);
  font-weight: 500;
}
.error-info-text {
  color: #808080;
  font-weight: 400;
  font-style: italic;
  font-size: x-small;
  font-family: Georgia, Times, serif;
}

.fs-s {font-size: small; }
.fs-m { font-size: medium; }
.fs-l { font-size: large; }

/* height and width styling */
.min-w-full { min-width: 100%;}
.min-h1 { min-height: 10px }
.min-h6 { min-height: 60px }

.w-100 { width: 100%; }
.w-75 { width: 75%; }
.w-50 { width: 50%; }

.noCss-sq {
  width: var(--chakra-sizes-full);
  max-width: 100%;
  min-height: 100vh;
  padding: var(--chakra-space-4);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

/* other utility custom styles */
.flex-wrap-1 {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start { justify-content: flex-start;}

.block { display: block }
.-mt2 { margin-top: -20px;}
.-mt6 { margin-top: -60px;}
.-mt10 { margin-top: -100px;}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.spaced { margin-top: 10px }
.spaced-2 { margin-top: 20px }
.spaced-5 { min-height: 50px }

.bordered { border: 1px solid #606060;}
.r-border { border-right: 1px solid #606060;}
.t-border {  border-top: 1px solid #606060;}
.b-border {  border-bottom: 1px solid #606060;}
.l-border {  border-left: 1px solid #606060;}

.index-container-1 {
  margin-top: 75px;
  display: flex;
  justify-content: around;
}

.body-text-1 { width: 77% }

.index-start, .index-watch {
  font-size: large;
  font-weight: 500;
  border-radius: 5px;
  padding: 20px 40px 20px 40px;
}

.button-group { display: flex }

.index-start {
  background-color: royalblue;
  margin-right: 20px;
}
.index-start:hover {
  background-color: darkblue;
}

.index-watch {
  background-color: whitesmoke;
  border: royalblue;
  color: royalblue;
  margin-left: 20px;
  font-weight: 600;
}
.index-watch:hover {
  background-color: lightgray;
}

.index-btn-group {
  width: 55%;
  margin-top: -55px;
  display: flex;
  justify-content: center;
}

/* image slider custom styles */
.img-slider { width: 75% }
.img:hover { border: 1px solid white; }
.img { border-radius: 3%; }

/* alert styling */
.alertCloseBtn {
  border: 1px solid #808080;
  align-self: flex-start;
}

/* explore page custom styling */
.explore-container {
  width: 100%;
  padding: 1%;
  display: grid;
}

.explore-card-container {
  padding: 5px;
  display: block;
  min-width: 380px;
}

.explore-card-text {
  color: black;
  font-family:'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-weight: 300;
  font-size: larger;
}

/* map custom styles */
.map {
  display: block;
  height: 400px;
  width: 100%;
}

.map-button {
  background-color: white;
  color: #000;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.map-button:hover {
  background: rgb(235, 235, 235);
}

/* profile custom styles */
.profile-container {
  height: 100%;
  width: 100%;
}
.profile-header { 
  width: 100%;
  text-align: center;
}
.header-alert { 
  background: royalblue;
  padding: 20px;
}
.img-container {
  height: 269px;
  overflow: hidden;
}
.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cards-container, .card-header {
  padding: 2.5%;
  display: flex;
}

.pr-info-group {
  width: 100%;
  display: flex;
}

.avatar-img {
  margin: 1%;
  bottom: 50px;
  max-width: 150px;
  position: relative;
  border-radius: 50%;
}

.pr-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pr-verified {
  position: relative !important;
  margin-top: -20px;
  left: 50%;
}

.hidden { display: none;}

.pr-bio {
  margin: 10px;
  padding: 10px;
  min-height: 100px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  border: 1px solid #505050;
}

.edit-btn { 
  margin: 10px;
  padding: 15px;
}

.edit-container { margin: 10px;}

.sign-out {
  border: 0.1px solid #808080;
  margin-top: 20px;
  justify-items: center;
  width: max-content;
  padding: 10px;
}

/* KnowledgeBase custom styles */
.section-container {
  padding: 5%;
  display: flex;
  width: 100%;
}

.section-list {
  padding: 5%;
  margin-top: 10px;
  line-height: 50px;
  border-right: 1px solid gray;
}

.section-page {
  padding: 5%;
}

.active-section {
  font-weight: bold;
  color: whitesmoke;
}

@media screen and (max-width: 768px) {
  .index-container-1, .section-container, .block-sm {
    display: block;
  }
  
  .body-text-1 {
    width: 75%;
    margin-bottom: 25px;
  }
  
  .img-slider {
    width: 100%;
    min-width: 100%;
  }

  .index-btn-group {
    margin-top: 10%;
    width: 100%;
  }

  .index-start, .index-watch {
    margin-right: 0;
    margin-left: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
  }

  .button-group {
    display: block;
    width: 100%;
  }

  .section-list{
    text-align: center;
    border-right: none;
    border-bottom: 1px solid gray;
  }
  .section-page {
    padding: 2%;
    margin-top: 5%;
  }

  .sm-mx {
    text-align: center;
  }

  .img-container {
    height: auto;
    max-height: 180px;
  } 
  .pr-info-group {
    display: block;
  }
  .avatar-img {
    width: 100px;
    margin-left: 1%;
  }
  .pr-info {
    text-align: start;
    padding: 10px;
    width: 100%;
  }

  .sm-mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 820px) and (max-width: 1025px) {
  .index-btn-group {
    margin-top: 55px;
    width: 100%
  }

  .body-text-1 {
    width: 75%
  }

  .img-slider {
    min-width: 360px;
    max-height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .cards-container {
    padding: 5% 20% 5% 20%;
  }

  .pr-info { margin: 25px 20px 0 40px;}
  .pr-bio { width: 75%; }
  .edit-btn, .edit-container { width: 50%; }

  .pr-bio, .edit-btn, .edit-container {
    margin-left: auto;
    margin-right: auto;
  }

  .explore-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .explore-card-container {
    padding: 10px;
    min-width: 500px;
    max-width: 750px;
  }

  .lg-m2 {  margin: 20px; }
}